{% extends "base_list.html" %}
{% block title %}
List
{% endblock title %}

{% block header %}
    <a href="{% url 'list_app:create' %}">Create task</a>
    <a href="{% url 'authorization_app:logout' %}">Exit</a><br>
    <h1>{{user_name}}'s tasks</h1>
{% endblock header %}

{% block main %}
        {% for todo in todos %}
            <form method='POST'>
                {% csrf_token %}
                <p><b>{{todo.title}}</b></p>
                <input type='hidden' name='todo_id' value='{{todo.id}}'>
                <button type='submit' name='action' value='delete-action'>Delete task</button>
                <button type='submit' name='action' value='change-action'>Change task</button>
                <ul>
                    <li>{{todo.description}}</li>
                    <li>{{todo.is_completed}}</li>
                    <li>{{todo.created_at}}</li>
                </ul>
            </form>
            {% empty %}
            <h1>You don't have any tasks!</h1>
        {% endfor %}
{% endblock main %}