{% extends "base_authorization.html" %}
{% block title %}
Login
{% endblock title %}

{% block main %}
<form method='post'>
    {% csrf_token %}
    {% if error %}
        <p style='color: red'>{{error}}</p>
    {% endif %}
    <label for="user_name">Your name:</label>
    <input type="text" id="user_name" name="user_name" required><br><br>

    <label for="user_password">Your password:</label>
    <input type="password" id="user_password" name="user_password" required><br><br>

    <a href="{% url 'authorization_app:signup' %}">Signup</a><br><br>

    <button type='submit'>Login</button>
</form>
{% endblock main %}