{% extends "base_authorization.html" %}
{% block title %}
Signup
{% endblock title %}

{% block main %}
<form method='post'>
    {% csrf_token %}
    {% if error %}
        <p style='color: red'>{{error}}</p>
    {% endif %}
    <label for="user_name">Your name:</label>
    <input type="text" id="user_name" name="user_name" required><br><br>

    <label for="user_password1">Your password:</label>
    <input type="password" id="user_password1" name="user_password1" required><br><br>

    <label for='user_password2'>Confirm the password:</label>
    <input type="password" id='user_password2' name="user_password2" required><br><br>

    <a href="{% url 'authorization_app:login' %}">Login</a><br><br>

    <button type='submit'>Registrate</button>
</form>
{% endblock main %}